/*General*/
body {

    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

a {

    text-decoration: none;
    color: currentColor;
}

a:hover {

    color: currentColor;
}

.container {
    padding-top: 250px;
}

.btn {
    background: linear-gradient(-90deg, #BF019F, #F28A57);
    color: white;
}

/*Carrusel*/
.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.containerCarousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

/*Vendedores*/
.icon {
    height: 140px;
    width: 140px;
    background: linear-gradient(-90deg, #BF019F, #F28A57);
    border-radius: 50%;
}




/*card de juego*/
.card-header-first {
    margin-top: -60px;
    height: 160px;
    background: linear-gradient(-90deg, #BF019F, #F28A57);
    box-shadow: 1px 5px 15px #a2a2a2;
}

.card-section-first span i {
    padding: 17px;
    margin: 0px 10px;
    color: #fff;
    height: 50px;
    width: 50px;
    box-shadow: 1px 6px 24px #d2d2d2;
    background: linear-gradient(-90deg, #BF019F, #F28A57);
}

.card-header-first span i:hover,
.card-section-first span i:hover {
    box-shadow: 1px 1px 15px #000;
}

/*efecto shadows para todas las tarjetas*/
.card-section {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover {
    box-shadow: 1px 1px 20px #d2d2d2;
}

/*Header*/
header {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid {

    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:992px) {

    header .container-fluid {

        padding: 0 5%;
    }
}

header .navb-logo img {

    width: 140px;
    height: 66px;
}

header .navb-items {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item {

    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #F28A57;
    border-top: 0px solid #F28A57;
    cursor: pointer;
}

header .item:hover {

    border-bottom: 3px solid #F28A57;
    border-top: 3px solid #F28A57;
}

header .item-button a {

    background: linear-gradient(-90deg, #BF019F, #F28A57);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .5s ease;
    margin-right: 10px;
}

header .item-button a:hover {

    background-color: #64d6f4;
}

header .mobile-toggler {

    font-size: 30px;
}

/* modal */

.modal-dialog {

    margin: 0;
    width: 430px;
}

@media(max-width: 450px) {

    .modal-dialog {

        width: 82%;
    }
}

.modal-content {

    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #102447;
}

.modal-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header img {

    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

.modal-header .btn-close {

    background: transparent;
    opacity: 1;
}

.modal-header i {

    color: #fefefe;
    font-size: 30px;
}

.modal-body {

    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body .modal-line {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #274d8a;
    border-bottom: 1px solid #274d8a;
}

.modal-body .modal-line:hover {

    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-line a {

    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i {

    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button:hover {

    background-color: #274d8a;
    color: #fefefe;
}


/*Footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}