.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(-90deg, #BF019F, #F28A57);
    background: linear-gradient(-90deg, #BF019F, #F28A57);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}